NEXT_PUBLIC_SUPABASE_URL=https://qzcpmbfxxckwayptgrkb.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InF6Y3BtYmZ4eGNrd2F5cHRncmtiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzMyNDMyNzYsImV4cCI6MjA4ODgxOTI3Nn0.JwH-Ue4fC1pG-fNEfe8xwp5POSzP8EdJeRYUqCb_Syc
RESEND_API_KEY=your_resend_api_key_here
NEXT_PUBLIC_BASE_URL=https://events.upstrategylab.com
